div#canva{
    text-align: center;
    
}

canvas#mycanvas{
    background-image: url('../img/bgtest1812.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    border: 3px;
    border-style:groove;
    border-color: black;
}

canvas#mycanvas1{
    background-image: url('../img/bgtest18122.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    border: 3px;
    border-style:groove;
    border-color: black;
}

canvas#mycanvas2{
    background-image: url('../img/bgtest18123.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    border: 3px;
    border-style:groove;
    border-color: black;
}

body{
    background-color: #000000;
}

#index-header{
    color: white;
    text-align: center;
}
h1{
    text-align: center;
}

#header{
    color: white;
}

#top{
    width: 750px;
}

#formN{
    color: white;
}

#main{
    text-align: center;
    margin: auto;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #e2e2e2;
    border: none;
    box-shadow: 0 5px #505050;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
}

.button:hover {
    background-color: #3f3f3f;
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0 5px #3d3d3d;
}

.pressed {
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(5px);
}

.red, .green, .blue, .yellow {
    color: rgb(98, 98, 98);
}

.yellow {
    transform: rotate(180deg);
}


div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.round {
    border-radius: 50%;
  }


  #win-screen {
    position: fixed;
    top: 5%;
    left: 15%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #win-screen2 {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #win-screen3 {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #howtoplay {
    position: fixed;
    top: 5%;
    left: 15%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #win-screen img {
    width: 700px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #win-screen button {
    padding: 10px 20px;
    background-color: #ff2d2d;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  #win-screen2 img {
    width: 700px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #win-screen2 button {
    padding: 10px 20px;
    background-color: #49b9ff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  #win-screen3 img {
    width: 700px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #win-screen3 button {
    padding: 10px 20px;
    background-color: #cfaf2d;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  #howtoplay img {
    width: 650px;
    height: auto;
    margin-bottom: 20px;
  }

  #howtoplay button {
    padding: 10px 20px;
    background-color: #423482;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }



  @media only screen and (max-width: 600px) {
    #top{
        width: 100%;
    }

    #win-screen img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }

    #win-screen2 img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #win-screen3 img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #howtoplay img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
      }
   }
